
.conteiner-fluid {
  margin: 0 auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.container-fluid__nav {
  background-color: #282c34;
  margin-top: 50px;
  width: 15%;
}

.container-fluid__ul {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.container-fluid__a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #DAA520;
  font-weight: 600;
  width: 100%;
  display: inline-block;
}

.container-fluid__li:hover, .container-fluid__li:hover > a{
  background-color: #DAA520;
  color: #ffffff;
  }


.content {
  background-color: #ffffff;
  width: 85%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
