
.form {
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.1rem;
  width: 50%;
}

.error-message{
  color: red;
}

.content-formAddPeople-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 1rem;
}

.formAddPeople-button:link, .formAddPeople-button:visited, .formAddPeople-button:active, .formAddPeople-button:hover {
  color: #da0c0c;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration:none;
}

.svg-formAddPeople {
  display: inline-block;
  fill: #da0c0c;
  margin-right: 5px;
  padding-top: -5px;
  width: 13px;
}